
 
header, nav{
  /* padding: 5px; */
  background: gold;
  }

#main-section {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  /* gap: 0px 10px;  */
  grid-template-areas: 
    "section1 section2 section3"; 
  justify-content: space-between; 
  align-items: start; 
  padding: 50px 0px 0px 60px;
  background: #ebecf0;
}
#scotland-section{
  display: flex;
  flex-wrap: wrap;
  grid-area: section1;
  justify-content: left;

}
#france-section{
  display: flex;
  flex-wrap: wrap;
  grid-area: section2;
  justify-content: left;
}
#romania-section{
  display: flex;
  flex-wrap: wrap;
  grid-area: section3;
  justify-content: left;
}


section {

  display: grid; 
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 40px 40px 110px 50px 20px; */
  /* grid-column-gap: px; */
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: auto;
  grid-template-areas: 
    "goal_desc goal_desc"
    "mile_title mile_title"
    "mile_desc mile_desc"
    "mile_date mile_date"
    "completed mile_position"; 
  
  margin: 0 20px 20px 0;
  padding: 0px 10px 20px 10px;
  background: #ffffff;
  text-align: left;
  border-radius: 3%;
  -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.23); 
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.23);
  width:225px;
  height: 290px;
 
  }  
  .button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:linear-gradient(to bottom, #ffec64 5%, gold 100%);
    background-color:#ffec64;
    border-radius:3px;
    border:1px solid rgb(206, 175, 0);
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:12px;
    padding:5px 8px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
   } 
  
  .button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
  }

  p {
    font-size: 14px; 
    color: rgb(41, 41, 41); 
    font-family: sans-serif;
  }

h1, h2, h3, li, a {
    display: block;
    padding: 0px 0px 0px 0px;
    font-family: sans-serif;
    }

h1 {
  font-size: 2em;
   }

h2 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    }
h3 {
     font-size: 1.17em;
    }

nav {
  display: flex;
  justify-content: center;
}
nav ul {
    display: flex;
    list-style-type: none;
    } 
nav ul {
    color: rgb(26, 26, 26);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

li {
  font-size: 20px;
    text-transform: uppercase;
    text-align: center;
      float: left;
      border-right:1px solid rgb(206, 175, 0);
      border-left:1px solid rgb(206, 175, 0);
      width: 200px;
    }


li a {
    display: block;
    color: rgb(43, 43, 43);
    text-align: center;
    padding: 25px 15px 25px 15px;
    text-decoration: none;
    text-transform: uppercase;
    background:linear-gradient(to bottom, #ffec64 5%, gold 100%);
    background-color:#ffec64;
   
    }

li a:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color:#ffab23;

    }

#scotland-section .goal_desc p{
  color:#3E13AF;
  }
#france-section .goal_desc p{
  color: rgb(121, 0, 115);
  }

#romania-section .goal_desc p{
  color: #005727;
  
  }

article2 section{
  background-color: rgb(252, 252, 252);
}

.goal_desc{
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  height: auto;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  
  padding: 0px 0 10px 0;
  border-bottom: rgba(126, 126, 126, 0.92) 1px solid;
  }

.mile_title{
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  height: auto;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  padding: 10px 0 10px 0;
  border-bottom: rgba(126, 126, 126, 0.92) 1px solid;
}

.mile_title a{
  text-decoration: none;
  color: rgb(9, 9, 9);
  }

.mile_desc{
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  height: auto;
  grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 3;
   padding: 0px 0 10px 0;
   /* border-bottom: rgba(126, 126, 126, 0.92) 1px solid; */
  }

.mile_date{
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  height: auto;
  grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 3;
   justify-content: left;  
   padding: 10px 0 10px 0;
  }

.mile_position{
  font-size: 14px;
  text-decoration: none;
  text-align: right;
  height: auto;
  grid-row-start: 5;
  grid-column-start: 2;
  grid-row-end: 6;
  grid-column-end: 3;
  padding: 0px 20px 0px 0;
  }

  .completed{
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  height: auto;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 2;
  padding: 0px 0px 0px 0;
  }

/* NEW FORM */

#new-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
  margin: auto;
  width: 30%;
  border: 1px solid gold;
  padding: 10px;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}