p {
    font-size: 110%; 
    color: rgb(41, 41, 41); 
    font-family: sans-serif;
  }

h1, h2, h3, li, a {
    display: block;
    padding: 0px 0px 20px 10px;
    font-family: sans-serif;
    }

h1 {
  font-size: 2em;
 
    }

h2 {
    font-size: 20px;
    text-transform: uppercase;
    }
h3 {
     font-size: 1.17em;
    }


  /* FLEXBOX */

body { 
    display: grid ;
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    /* grid-template-rows: 80px 1fr 70px;   */
    grid-template-columns: auto auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    /* height: 100vh; */
    margin: 0;
    }  
header, nav{
    /* padding: 5px; */
    background: gold;
    }
footer {
    padding: 1.2em;
    background: rgb(238, 102, 102);
    }

main {
    padding: 20px 20px 20px 20px;
    background: rgb(238, 238, 238);
    }
button {
  font-size: 110%;
  background: rgb(149, 189, 6);
  
    } 

/* article {
  margin: 0 0 20px 0;
  padding: 20px 10px 5px 10px;
  background: rgb(167, 2, 2);
  }   */
article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 10%;
  background: rgb(41, 2, 131);
  
  /* -webkit-flex-wrap: wrap;
  flex-wrap: wrap; */
  /* max-width: 900px; */
}
section {

  display: grid; 
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 30px auto 30px 20px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: start;
  grid-template-areas: 
    "goal_desc goal_desc"
    "mile_title mile_title"
    "mile_date mile_date"
    "mile_desc mile_desc"
    "completed mile_position"; 
    
  margin: 0 20px 20px 0;
  padding: 0px 10px 10px 10px;
  background: rgb(149, 189, 6);
  text-align: left;
  /* flex: 0 0 0 20%; */
  
  border: 5px solid black;
  /* width: 33%; */
  flex-basis: 10%;
  flex-grow: 1;
  }  
  
#header {
  grid-area: header;
  }
#footer {
  grid-area: footer;
  }
#main { 
  grid-area: main;  
  justify-self: start;    
  }
#side { 
  grid-area: nav; 
  }




/* Stack the layout on small devices/viewports. */
/* @media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "main"
      "side"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
  }
} */

nav {
  display: flex;
  justify-content: center;
}
nav ul {
    display: flex;
    list-style-type: none;
    } 
nav ul {
    /* padding: 1rem 2rem; */
    color: rgb(26, 26, 26);
    text-align: center;
    /* padding: 4px 16px; */
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    }

li {
      float: left;
      border-right:1px solid crimson;
      border-left:1px solid crimson;
      width: 200px;
    }

li:last-child {
    border-left: none;
    }

li a {
    display: block;
    color: rgb(43, 43, 43);
    text-align: center;
    padding: 35px 15px 35px 15px;
    text-decoration: none;
    text-transform: uppercase;
   
    }

    
    /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(206, 175, 0);
    
    }

.goal_desc{
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  height: auto;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  }

.mile_title{
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  height: auto;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
}

.mile_title a{
  text-decoration: none;
  color: brown;
  }

.mile_desc{
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  height: auto;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 3;
  }

.mile_date{
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  height: auto;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;

  }

.completed{
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  height: auto;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 2;
  }

.mile_position{
  font-size: 14px;
  text-decoration: none;
  text-align: right;
  height: auto;
  grid-row-end: 5;
  grid-column-end: 2;
  grid-row-end: 6;
  grid-column-end: 3;
  }
