<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
  <title>My Task List</title>
</head>
<body>
  <header id="header">
    <nav id="nav">
      <ul class="menu">
        <li><a href="/">Homepage</a></li>
        <!-- <li><a href="/goals/financial">Financial</a></li>
        <li><a href="/goals/health">Health</a></li>-->
        <li><a href="/goals/home">Scotland</a></li>
        <li><a href="/goals/home">France</a></li>
        <li><a href="/goals/home">Romania</a></li>
      
        <!-- <li><a href="/goals/questions">Questions</a></li>
        <li><a href="/goals/journal">Journal</a></li>  -->
        <li><a href="/goals/new">Milestone</a></li>
      </ul>
    </nav>
  </header>
  <main id="main">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
