{% extends "base.html" %}
{% block content %}
<h2>All milestones</h2>
<p>A list of milestones</p>

{% for milestone in all_milestones %}

  <section id="section">
  
    <div class="description">
      <a href="/goals/{{milestone.id}}">{{milestone.mile_title}}</a>
      <span class="duration">{{milestone.mile_desc}}</span>
      
    </div>
    <div class="completed">

      <form action="/goals/{{milestone.id}}/delete" method="POST">
        <button class="completed"></button>
      </form>
      
   
    </div>
  </section>
  <hr>



{% endfor %}

{% endblock %}