{% extends "base.html" %}
{% block content %}
<!-- <h2>All milestones</h2> -->
  
<article id="scotland-section">

{% for milestone in all_milestones %}
{% if milestone.goal.title == "Scotland" %}

  <section >
    
    <div class="goal_desc">
      <p>{{milestone.goal.title}}</p>
    </div>

    <div class="mile_title">
      <a href="/goals/{{milestone.id}}">{{milestone.mile_title}}</a>
    </div>

    <div class="mile_desc">
      <p>{{milestone.mile_desc}}</p>
    </div>
     
    

    <div class="mile_date">
      <p>{{milestone.mile_date}}</p>
    </div>
    
    <div class="completed">

      <form action="/goals/{{milestone.id}}/delete" method="POST">
        <button class="button">DONE</button>
      </form>
    </div>
    <div class="mile_position">
      <p>{{milestone.mile_position}}</p>
    </div>
  </section>




{% endif %}
{% endfor %}
</article>

<article id="france-section">
  {% for milestone in all_milestones %}
  {% if milestone.goal.title == "France" %}
 
    <section >
      <div class="goal_desc">
        <p>{{milestone.goal.title}}</p>
      </div>
  
      <div class="mile_title">
        <a href="/goals/{{milestone.id}}">{{milestone.mile_title}}</a>
      </div>
  
      <div class="mile_desc">
        <p>{{milestone.mile_desc}}</p>
      </div>
       
      
  
      <div class="mile_date">
        <p>{{milestone.mile_date}}</p>
      </div>
      
      <div class="completed">
  
        <form action="/goals/{{milestone.id}}/delete" method="POST">
          <button class="button">DONE</button>
        </form>
      </div>
      <div class="mile_position">
        <p>{{milestone.mile_position}}</p>
      </div>
    </section>
  
  
  
  
  {% endif %}
  {% endfor %}
  </article>

  <article id="romania-section">
    {% for milestone in all_milestones %}
    {% if milestone.goal.title == "Romania" %}
      
   

    <section >
        <div class="goal_desc">
          <p>{{milestone.goal.title}}</p>
        </div>
    
        <div class="mile_title">
          <a href="/goals/{{milestone.id}}">{{milestone.mile_title}}</a>
        </div>
    
        <div class="mile_desc">
          <p>{{milestone.mile_desc}}</p>
        </div>
         
        
    
        <div class="mile_date">
          <p>{{milestone.mile_date}}</p>
        </div>
        
        <div class="completed">
    
          <form action="/goals/{{milestone.id}}/delete" method="POST">
            <button class="button">DONE</button>
          </form>
        </div>
        <div class="mile_position">
          <p>{{milestone.mile_position}}</p>
        </div>
      </section>
  
    
    
    
    {% endif %}
    {% endfor %}
    </article>
{% endblock %}