{% extends "base.html" %}
{% block content %}
<meta http-equiv="refresh" content="0; URL=/goals/{{milestone.id}}/edit" />
<h2>Milestone details</h2>
<main id="new-form">
<div class="goal_desc">
    <p>{{milestone.goal.title}}</p>
</div>
<div class="mile_title">
    <p>{{milestone.mile_title}}</p>
  </div>
  <div class="mile_desc">
    <p align="center">{{milestone.mile_desc}}</p>
  </div>
  <div class="mile_date">
    <p align="center">Date: {{milestone.mile_date}}</p>
  </div>
  <div class="mile_position">
    <p align="center">Postion: {{milestone.mile_position}}</p>
  </div>
    
  

    <p><a href="">Edit</a></p>
  </div>
</main>
{% endblock %}